.box1
        {
            width: 600px;
            margin : auto;
            border: 7px ridge rgba(255, 4, 3,.5);
            padding: 20px;
            background: linear-gradient(rgba(240, 16, 97,.3),#ffffff);
            color: Brown;
            font-size: 18pt;
            font-family: Aldrich;
        }
.box1:hover
        {
            color: Brown;
            opacity:.9;
        }
img:hover
        {
            opacity:.8;
        }
.logo
        {
            position: absolute;
            width: 100px;
            height: 100px;
            border: 1px solid Slateblue;
            padding: 5px;
            background-color: LightBlue;
            left: 10px;
            top: 7px;
        }
.box2
        {
            position: absolute;
            width: 150px;
            height: 40px;
            padding-left: 50px;
            background-color: lightcyan;
            right: 20px;
            top: 45px;
            font-size: 14pt;
            font-family: Architects Daughter;
            color: Crimson;

        }
